<!DOCTYPE html>
<html lang="en">

<head>
    <title>AirBnBit!</title>
    <h1>AirBnBit</h1>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <script src="./assets/javascript/javascript.js"></script>
</head>


<body>
    
        {{{ body }}}

</body>

</html>
