   <div class="jumbotron" id="pageTop">
        <div class="container">
            <h1>All Arrivals</h1>
            <h3>Check below to see when trains arrive - and how soon.</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Current Schedule - All Trains</h3>
                    </div>
                    <div class="panel-body">
                        <table class="scheduleTable">
                            <tr id="topRow">
                                <td id="trainName">TrainName</td>
                                <td id="destination">Destination</td>
                                <td id="nextArrival">Next Arrival</td>
                                <td id="timeUntilNext">Time Untill Next Arrival (in minutes)</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--End of schedule panel.-->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add a Train to the Schedule</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="text">Train Name</label>
                                <input type="text" class="form-control" id="TrainName">
                            </div>
                            <div class="form-group">
                                <label for="text">Destination</label>
                                <input type="text" class="form-control" id="Destination">
                            </div>
                            <div class="form-group">
                                <label for="text">First Arrival Time</label>
                                <input type="text" class="form-control" id="firstArrival">
                            </div>
                            <div class="form-group">
                                <label for="text">Frequency (In Minutes)</label>
                                <input type="text" class="form-control" id="frequency">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                    <!--End of panel-body.-->
                </div>
                <!--End of entry panel.-->
            </div>
            <!--End of column,-->
        </div>
        <!--End of row.-->
    </div>
    <!--End of container.-->