body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/*Jumbotron ___________________________________________________________*/
.jumbotron {
    text-align: center;
    height: 240px;
    padding: 48px 0 48px 0;
    background-color: #4d85ff;
}

#logo {
    margin-top: 20;
    width: 25%;
}

#logoIcon {
    width: 200px;
    float:left;
    margin-left: 50px;
}
#jumboCenter {
    width: 50%;
    float: left;
    padding-bottom: 50px;
    margin-top: 0px;
    text-align: center;
}

.jumbotron .h1, .jumbotron h1 {
    font-size: 48px;
    color: white;
}

h2 {
    font-size: 30px;
    color: white;
}

#logInLnk {
    display: inline-block;
    margin-top: 40px;
}

#logIn {
    display: inline-block;
    border-radius: 8px;
    clear: left;
    border-width: 2px;
    background-color: #ccdcff;
    border-color: black;
    padding: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/*Columns ___________________________________________________________*/

#leftHead {
    font-size: 18px;
}

#rightHead {
    font-size: 18px;
}
#centerHead {
    background-color: white;
}

#featured {
    font-size: 36px;
    text-align: center;

}

.features1 {
    float: left;
    clear:left;
}

.features2 {
    float: right;
}

.featuredPhoto {
    width: 200px;
}

.caption {
    width: 200px;
    padding-top: 5px;
}

h3 {
    font-size: 20px;
}

#hostEnter {
    background-color: #ccdcff;
    border-width: 4px;
    border-color: black;
    color: blue;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

#guestEnter {
    background-color: #ccdcff;
    border-width: 2px;
    border-color: black;
    color: blue;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.headPara {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.enterSite {
    text-align: center;
}

.sidePanel {
    margin-top: 25px;
}

.panel-heading.panelHead {
    text-align: center;
    font-size: 18px;
    background-color: #ccdcff;
}

.list {
    font-size: 16px
}

/*Footer ___________________________________________________________*/
.cltPhoto {
    height: 150px;
}

.footer {
    bottom: 0;
    background-color: #4d85ff;
    color: white;
    text-align: center;
    display:block;
}
.foot {
    display: inline-block;
    font-size: 14px;
    margin: 10px 20px 0px 20px;
    position: relative;
}

.alink:link {
    color: white;
}

.alink:hover {
    color: #ccffff;
}

.alink:visited {
    color: #e6ccff;
}

.icons {
    width: 30px;
    margin-top: 5px;
}

@media (min-width: 1680) {
.container {
width: 1640;
}
}